/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.BGwallpaper {
  display: flex;
  flex-wrap: wrap;
  background-image: url("https://github.com/AlexJQuest/GhostlyCandlesCo/blob/main/public/images/unnamed.png?raw=true");
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

/* Header Styles */
header {
  background: #333;
  color: #fff;
  padding: 10px 0;
}

header .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

.dropdown-button {
  display: none; /* Hidden on desktop */
  background: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

/* Navigation styles */
nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.cart-button {
  background: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  transition: background 0.3s ease;
}

.cart-button:hover {
  background: #e55;
}

/* Dropdown Menu for mobile */
.nav {
  display: none; /* Hide by default */
}

.nav.open {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  position: absolute; /* Position it absolutely */
  background: #444;
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it's above other content */
}

.nav ul {
  flex-direction: column; /* Stack vertically in dropdown */
  padding: 10px 0;
}

.nav ul li {
  margin: 10px 0; /* Add margin for dropdown items */
}

/* Media Queries */
@media (max-width: 1024px) {
  .dropdown-button {
    display: block; /* Show button on mobile */
  }

  nav {
    display: none; /* Hide desktop nav */
  }

  .nav.open {
    display: flex; /* Show dropdown when open */
  }
}

/* Footer Styles */
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
